<footer class="footer">
  <div class="container">
    <div class="row justify-content-center mt-0" id="nav-footer">
      <div class="col-auto">
        <div id="nav-footer">
          <a href="/" class="btn btn-secondary btn-sm" role="button"><span class="fa fa-home"></span> Home</a>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-auto">
        <div style="text-align:center">
            <a class="btn btn-social-icon btn-github" href="https://github.com/blairneumann"><span class="fa fa-github"></span></a>
            <a class="btn btn-social-icon" href="https://stackoverflow.com/users/7999431/blair-neumann"><span class="fa fa-stack-overflow"></span></a>
            <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/blairneumann"><span class="fa fa-linkedin"></span></a>
            <a class="btn btn-social-icon" href="https://www.quora.com/profile/Blair-Neumann"><span class="fa fa-quora"></span></a>
            <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/blairn"><span class="fa fa-twitter"></span></a>
            <a class="btn btn-social-icon" href="mailto:blairn@outlook.com"><span class="fa fa-envelope"></span></a>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-auto">
        <p>
          <span class="fa fa-copyright"></span>
          <span id="copyright-year">
            {% assign firstPost = site.posts | last %}
            {% assign lastPost = site.posts | first %}
            {% assign firstPostYear = firstPost.date | date: "%Y" %}
            {% assign lastPostYear = lastPost.date | date: "%Y" %}
            {% if firstPostYear == lastPostYear %}
              {{ firstPostYear }}
            {% else %}
              {{ firstPostYear }} &ndash; {{ lastPostYear }}
            {% endif %}
          </span>
          <span>{{ site.publisher }}</span>
        </p>
      </div>
    </div>
  </div>
</footer> 