<h2><a href="{{ post.url }}" title="Click to read this post">{{ post.title }}</a></h2>
{% include date.html date=post.date %}
{% include tags.html tags=post.tags %}
<div class="mt-3 mb-4">
  {{ post.excerpt }}
  {% if post.content != post.excerpt %}
    <a class="btn btn-sm btn-outline-primary mr-1" role="button" href="{{ post.url }}" title="Click to read this post: &quot;{{ post.title }}&quot;">Read More <span class="fa fa-arrow-circle-right"></span></a>
  {% endif %}
  {% include commentcount.html %}
</div>
