<div class="card text-left">
  <div class="text-center bg-faded" id="headshot">
    <img class="card-img-top img-fluid" src="{{ site.baseurl }}/img/BlairNeumann.jpg" alt="Blair Neumann">
  </div>
  <div class="card-block pb-0">
    <h2 class="card-title">Blair Neumann</h2>
    <h6 class="card-subtitle text-muted mb-2">Seattle, WA, USA</h6>
    <p class="card-text mb-2"><em>"I like writing code"</em></p>
    <a class="card-link" href="mailto:{{ site.email }}" title="Email Blair"><span class="fa fa-envelope"></span> Email</a>
    <a class="card-link" href="tel:{{ site.telephone }}" title="Call Blair"><span class="fa fa-phone"></span> Call</a>
    <ul class="list-group list-unstyled list-group-flush my-3" id="sidebar-skills">
      <li class="list-group-item px-0">
        <h6>Languages</h6>
        <ul class="list-unstyled pl-3">
          <li>Python</li>
          <li>JavaScript, Node.js</li>
          <li>Go</li>
        </ul>
      </li>
      <li class="list-group-item pl-0">
        <h6>Backend</h6>
        <ul class="list-unstyled pl-3">
          <li>Microservices</li>
          <li>AWS</li>
          <li>Serverless</li>
          <li>Terraform</li>
        </ul>
      </li>
      <li class="list-group-item px-0">
        <h6>Systems</h6>
        <ul class="list-unstyled pl-3">
          <li>Mac, Linux</li>
          <li>Docker</li>
          <li>Embedded</li>
        </ul>
      </li>
      <li class="list-group-item px-0">
        <h6>Front-end</h6>
        <ul class="list-unstyled pl-3">
          <li>Responsive websites</li>
          <li>Cross-platform mobile</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
