<div class="card text-left">
  <img class="card-img-top mw-100" src="{{ site.baseurl }}/img/BlairNeumann.jpg" alt="Blair Neumann">
  <div class="card-block pb-0">
    <h2 class="card-title">Blair Neumann</h2>
    <h6 class="card-subtitle text-muted mb-2">Full-stack web and cross-platform mobile program manager and developer</h6>
    <p class="card-text mb-2">Seattle, WA, USA</p>
    <a class="card-link" href="mailto:{{ site.email }}"><span class="fa fa-envelope"></span> Email</a>
    <a class="card-link" href="tel:{{ site.telephone }}"><span class="fa fa-phone"></span> Call</a>
    <ul class="list-group list-group-flush mt-3 pb-0" id="sidebar-skills">
      <li class="list-group-item">
        <h6>JavaScript</h6>
        <ul>
          <li>Bootstrap</li>
          <li>TypeScript</li>
          <li>Angular</li>
        </ul>
      </li>
      <li class="list-group-item">
        <h6>C#</h6>
        <ul>
          <li>Xamarin</li>
        </ul>
      </li>
      <li class="list-group-item pb-0">
        <h6>Python</h6>
        <p class="mb-0">&nbsp;</p>
      </li>
    </ul>
  </div>
</div>
