<div class="card text-left">
  <div class="text-center bg-faded" id="headshot">
    <img class="card-img-top img-fluid" src="{{ site.baseurl }}/img/BlairNeumann.jpg" alt="Blair Neumann">
  </div>
  <div class="card-block pb-0">
    <h2 class="card-title">Blair Neumann</h2>
    <h6 class="card-subtitle text-muted mb-2">Full-stack web and cross-platform mobile program manager and developer</h6>
    <p class="card-text mb-2">Seattle, WA, USA</p>
    <a class="card-link" href="mailto:{{ site.email }}"><span class="fa fa-envelope"></span> Email</a>
    <a class="card-link" href="tel:{{ site.telephone }}"><span class="fa fa-phone"></span> Call</a>
    <ul class="list-group list-unstyled list-group-flush my-3" id="sidebar-skills">
      <li class="list-group-item px-0">
        <h6>Full-Stack Web Dev</h6>
        <ul class="list-unstyled pl-3">
          <li>Mobile-First, Responsive</li>
          <li>JavaScript, TypeScript</li>
          <li>Bootstrap, Angulur</li>
          <li>AWS, Node.js</li>
        </ul>
      </li>
      <li class="list-group-item pl-0">
        <h6>Native Mobile Apps</h6>
        <ul class="list-unstyled pl-3">
          <li>Android, iOS, Windows</li>
          <li>C#, Xamarin</li>
        </ul>
      </li>
      <li class="list-group-item pl-0 pb-0">
        <h6>Data Science</h6>
        <ul class="list-unstyled pl-3">
          <li>Python</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
