<!DOCTYPE html>
<html lang="en">
  <head>
{% include head.html %}
  </head>
  <body>
{% include header.html %}
    <div class="container">
      <div class="row row-content">
        <div class="col-12 col-md-8 push-md-4 col-xl-9 push-xl-3 mt-4 mb-2 pt-2">
{% include construction.html %}
{{ content }}
{% include pagination.html %}
        </div>
        <div class="col-10 offset-1 col-sm-8 offset-sm-2 offset-md-0 col-md-4 pull-md-8 col-xl-3 pull-xl-9 my-4">
{% include sidebar.html %}
        </div>
      </div>
      <div class="row row-content">
        <div class="col-12 col-md-8 push-md-4 col-xl-9 push-xl-3 mb-2">
{% include footer.html %}
        </div>
      </div>
    </div>
{% include scripts.html %}
  </body>
</html>