<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}

    <div class="container">
      <div class="row row-content">
        <div class="col-12 col-md-8 push-md-4 col-xl-9 push-xl-3 mt-4 pt-2">
          {{ content }}
        </div>
        <div class="col-10 offset-1 offset-md-0 col-md-4 pull-md-8 col-xl-3 pull-xl-9 mt-4">
          {% include sidebar.html %}
        </div>
      </div>
    </div>

    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>